<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://www.gmail.com"><span class="glyphicon glyphicon-user"></span> Mail</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Social Media <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
            <li><a href="https://www.linkedin.com/uas/login">Linkedin</a></li>
            <li><a href="https://www.instagram.com/?hl=en">Instagram</a></li>
            <li><a href="https://www.tumblr.com/">Tumblr</a></li>
            <li><a href="https://www.reddit.com/">Reddit</a></li>
            <li><a href="https://www.quora.com/">Quora</a></li>
            <li><a href="https://share.bizsugar.com/">Bizsugar</a></li>
            <li class="divider"></li>
            <li><a href="https://techcrunch.com/">TechCrunch</a></li>
            <li><a href="https://mix.com/">Mix</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com"><span class="glyphicon glyphicon-book"></span> Github</a>
      </li>
    </ul>
  </div>
</nav>
